<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>  
<title></title>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="css/cssmenu.css" rel="stylesheet" type="text/css" />
<script src="js/onerror.js"></script>
</head>  
<body>  
<div class="tooltip tooltip_triangle" id="tooltip_context">  
    <!--
    <span class="bot"></span>
    <span class="top"></span>
-->
	<ul style="list-style: none;margin-top: 3px;
padding-left: 0px;text-align: center;line-height:30px;height: 110px;">
		<li onclick="location.reload();SetPlay()" class="l1">播放</li>
		<li onclick="OpenFloder()" class="l2">打开文件夹</li>
		<li onclick="RemoveRecord()" class="l3">从列表删除</li>
		<li onclick="EmptyList()" class="l4">清空当前列表</li>
	</ul>
</div>
</body> 
</html>  